{% load static %}

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">{{judul}}</a>

  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Links -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav">
      {% for link,name in nav%}
      <li class="na-item">
        <a class="nav-link" href=" {{link}} " title="">{{name}}</a>
      </li>
      {% endfor %}
    </ul>
  </div>

</nav>